{% extends 'alessandria/base_tpl.html' %}
{% load i18n %}
{% load tag_extras %}

{% block title %}{% trans "Book sample" %}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/alessandria/layout/jquery-datepicker/jquery.datepick.css">
{% endblock %}

{% block pageTitle %}{% trans "Book sample" %}:&nbsp;{{ form.instance.number|default:_("new") }} ({{ form.instance.book }}){% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        {% include 'alessandria/_inc_form_edit_header.html' %}
        {% if form.instance.is_disabled %}
            <div class="textInfo">{% trans "This sample was removed." %}</div>
        {% endif %}
        <div class="panel panel-info">
            <div class="panel-body">
                <form class="form-horizontal" action="" method="post" role="form">{% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
                        <div class="col-sm-10">
                            {{ field|addcss:"form-control" }}
                            {% if field.errors %}
                                <div class="text-danger">{{ field.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    {% if form.instance.is_disabled %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ form.instance.disabled_on_label }}</label>
                        <div class="col-sm-10">
                             {{ form.instance.disabled_on }}
                        </div>
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                            {% if form.instance.id > 0 %}
                                {% if not form.instance.is_disabled %}
                                    <a class="btn btn-warning" href="{% url 'alessandria:bookcopy_disable' form.instance.id %}">{% trans "Take out" %}</a>
                                {% endif %}
                                {% if not form.instance.was_borrowed %}
                                    <a class="btn btn-danger" href="{% url 'alessandria:bookcopy_delete' form.instance.id %}">{% trans "Delete" %}</a>
                                {% endif %}
                            {% endif %}
                            <a class="btn" href="{% url 'alessandria:book_update' form.instance.book.id %}">{% trans "Cancel" %}</a>
                        </div>
                    </div>
                </form>
                {% include 'alessandria/_inc_form_edit_footer.html' %}
            </div>
        </div>
    </div><!-- /.col-sm- -->
</div>
{% endblock %}

{% block jscript %}
<script type="text/javascript" src="/static/alessandria/layout/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/alessandria/layout/jquery-datepicker/jquery.plugin.min.js"></script> 
<script type="text/javascript" src="/static/alessandria/layout/jquery-datepicker/jquery.datepick.min.js"></script>
<script type="text/javascript" src="/static/alessandria/layout/jquery-datepicker/jquery.datepick-{{ JS_DATEPICKER_LANG }}.js"></script>
<script>
$(function() {
    $('#id_registered_on').datepick({dateFormat: 'dd/mm/yyyy'});
    $('#id_price_date').datepick({dateFormat: 'dd/mm/yyyy'});
});
</script>
{% endblock %}
