{% extends 'alessandria/base_tpl.html' %}
{% load i18n %}

{% load tag_extras %}

{% block title %}{% trans "ISBN import of a book" %}{% endblock %}

{% block pageTitle %}{% trans "ISBN import of a book" %}{% endblock %}

{% block content %}

<form class="form-horizontal" action="{% url 'alessandria:book_isbn_import' %}" method="post" role="form">{% csrf_token %}
    <input type="hidden" name="cmd" value="search_isbn" />
    <div class="row">
        <div class="form-group">
            <label for="isbn_nb" class="col-sm-2 control-label">{% trans "ISBN number" %}</label>
            <div class="col-sm-10">
                <input id="isbn_nb" name="isbn_nb" type="text" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-11">
                <button type="submit" class="btn btn-primary">{% trans "Search" %}</button>
            </div>
        </div>
    </div>
</form>
{% if search %}
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if book_form and book_form.instance.id %}
        <div class="row">
            <div class="alert alert-success">
                <p>{% trans "This book" %} <a href="{% url 'alessandria:book_update' book_form.instance.id %}">{% trans "already exists." %}</a></p>
            </div>
        </div>
    {% else %}
        {% if book_form %}
            <form class="form-horizontal" action="{% url 'alessandria:book_isbn_import' %}" method="post" role="form">{% csrf_token %}
                <input type="hidden" name="cmd" value="import_isbn" />
                <div class="row">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">{% trans "Book found" %}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-2">{{ book_form.isbn_nb.label }}:</div>
                                <div class="col-sm-10">{{ book_form.isbn_nb.value }}</div>
                                {{ book_form.isbn_nb.as_hidden }}
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2">{{ book_form.title.label }}:</div>
                                <div class="col-sm-10">{{ book_form.title.value }}</div>
                                {{ book_form.title.as_hidden }}
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2">{{ book_form.publish_date.label }}:</div>
                                <div class="col-sm-10">{{ book_form.publish_date.value }}</div>
                                {{ book_form.publish_date.as_hidden }}
                            </div>
                        </div>
                    </div>
                    {% for author_form in authors_form %}
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">{% trans "Author" %}&nbsp;n°.{{ forloop.counter }}&nbsp;:
                                    <input name="author_nb" type="hidden" value="{{ forloop.counter0 }}"/>
                                    {% if not author_form.instance.id %}
                                        {% trans "This author doesn't exist, create it?" %}
                                        <input name="author_to_create_{{ forloop.counter0 }}" type="checkbox" value="{{ forloop.counter0 }}" checked/>
                                    {% else %}
                                        <input name="author_id_{{ forloop.counter0 }}" type="hidden" value="{{ author_form.instance.id }}" />
                                        {% trans "This author already exists, it will be linked to the book." %}
                                    {% endif %}
                                </h3>
                            </div>
                            <div class="panel-body">
                                {% if not author_form.instance.id %}
                                    {% for field in author_form %}
                                        <div class="form-group">
                                            <label for="{{ field.id_for_label }}" class="col-sm-2 control-label {{ field.css_classes }}">{{ field.label }}</label>
                                            <div class="col-sm-10">
                                                {{ field|addcss:"form-control" }}
                                                {% if field.errors %}
                                                    <div class="text-danger">{{ field.errors }}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="form-group">
                                        <div class="col-sm-2">{% trans "Name" %}:</div>
                                        <div class="col-sm-10">{{ author_form.first_name.value }}&nbsp;{{ author_form.last_name.value }}</div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {% if not publisher_form.instance.id %}
                                    {% trans "This publisher doesn't exist, create it?" %}
                                    <input name="publisher_to_create" type="checkbox" value="publisher" checked/>
                                {% else %}
                                    <input name="publisher_id" type="hidden" value="{{ publisher_form.instance.id }}" />
                                    {% trans "This publisher already exists, it will be linked to the book." %}
                                {% endif %}
                             </h3>
                        </div>
                        <div class="panel-body">
                            {% if not publisher_form.instance.id %}
                                {% for field in publisher_form %}
                                    <div class="form-group">
                                        <label for="{{ field.id_for_label }}" class="col-sm-2 control-label {{ field.css_classes }}">{{ field.label }}</label>
                                        <div class="col-sm-10">
                                            {{ field|addcss:"form-control" }}
                                            {% if field.errors %}
                                                <div class="text-danger">{{ field.errors }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="form-group">
                                    <div class="col-sm-2">{% trans "Name" %}:</div>
                                    <div class="col-sm-10">{{ publisher_form.name.value }}</div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">{% trans "Import" %}</button>
                        </div>
                    </div>
                </div>
            </form>
        {% else %}
            <div class="row">
                <div class="col-md-12">
                    {% trans "Unknown ISBN number." %}
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endif %}
{% endblock %}
